@tailwind base;
@tailwind components;
@tailwind utilities;

/* customize class to re-use */
#searchInput:focus + label {
  @apply border-orange-400;
}

/* navbar element hover style */
.hover-border {
  @apply border border-transparent hover:border-white px-1 rounded-sm;
}

/* hamberger-menu styles */

.close-menu {
  @apply -translate-x-full;
}
.open-menu {
  @apply translate-x-0;
}

.activeLink {
  @apply relative;
}
.activeLink::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -8px;
  @apply border-2 block w-3 h-3 border-slate-300 bg-orange-500 rounded-full;
}

/* bottom links style in the navbar */
#nav-end {
  overflow-x: auto;
}
#nav-end::-webkit-scrollbar {
  width: 0;
}

/* form input box style */

.input-box {
  @apply relative;
}

.input-label {
  @apply mb-0.5 block;
}

.input-field {
  @apply px-2 py-1  border text-lg mb-3 focus:outline-none w-full rounded-md;
}

.show-password-icon {
  @apply absolute bottom-[23px] right-3;
}

.input-btn {
  @apply w-full mt-2 py-2 rounded-md text-lg font-semibold text-white bg-orange-500;
}

.gradient-border {
  color: #ffffff1a;
}

/* banner swiper styles */
#banner-swiper > div.swiper-button-prev {
  @apply ml-10 text-orange-500 top-32;
}
#banner-swiper > div.swiper-button-next {
  @apply mr-10 text-orange-500 top-32;
}
